


<head>
  <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<!-- web site: https://emoji-css.afeld.me/ 
  other sites:
  https://www.kirupa.com/html5/emoji.htm
-->


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <style>
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
    }
    </style>
</head>

<body>  

    <!--
  <br> <p style="font-family:'Segoe UI Emoji';">&#x1F525;&#65;&#128512;</p>
  <p>&#x1F354;</p>
  <i class="em em-champagne" aria-role="presentation" aria-label="BOTTLE WITH POPPING CORK"></i>
    <br> Device type is {{device_type}}
    <br> Screen width = {{getScreenWidth}}
    <br> Screen height = {{getScreenHeight}}
    <br><br>
    </div>
    -->
      <div class="pos_icons">
        <span class=' div_icons' (click) = "Display_Contact()">
         <!--
            <mat-icon  (click)='RouteTo("login")' class="icon-login"> login</mat-icon> 
          -->
            <mat-icon  class='icons'> smartphone</mat-icon> 
            <span class="icons_data">  +65 8268 0480</span>
            <mat-icon   class=' icons-email' > email</mat-icon>   
            <span class=" icons_data-email" >xvanstaen@xmv-it.com</span>
        </span>
       

       
      </div>

    <div class="pos_options">
          <div   *ngIf="Display_Table[i_table].display===true && Display_Table[i_table].type===Offer; else NoOffer">
            <div class=' options firstOption options-text ' (click) = "Display_Offer()"><br>
              Offer
            </div>
       <div class="  dropdown arrow_down">
        <span class="material-symbols-outlined arrow_down_size"  >
          arrow_drop_down
         
            <div class="dropdown-content" >
              <span >
              <div class="dropdown-options dropdown-options-even" (click)="goDown1('targetDigital') ">Digital Transf.</div>
              <div class="dropdown-options dropdown-options-odd" (click)="goDown1('targetFinance')">Finance</div>
              <div class="dropdown-options dropdown-options-even" (click)="goDown1('targetCoaching')">Coaching</div>
              <div class="dropdown-options dropdown-options-odd" (click)="goDown1('targetTechnical')">Techn. Expert</div>
              <div class="dropdown-options dropdown-options-even" (click)="goDown1('targetPgm')" >Projects</div>
            </span>

            </div>
          </span>
      </div>
          </div>      

          <div *ngIf="Display_Table[i_table].display===true && Display_Table[i_table].type===Profile; else NoProfile">
                  <div class=' options othertOption options-text option_background' (click) = "Display_Profile()" ><br >Profile</div>
          </div>
          <div *ngIf="Display_Table[i_table].display===true && Display_Table[i_table].type===HomePage; else NoHomePage">
                  <div class=' options otherOptions options-text option_background' (click) = "Display_HomePage()"> <br>Home</div>
            </div>
          <div *ngIf="Display_Table[i_table].display===true && Display_Table[i_table].type===Contact; else NoContact" > 
                  <div class=' options otherOptions options-text option_background' (click) = "Display_Contact()"><br>Contact</div>
          </div>
          <div *ngIf="Display_Table[i_table].display===true && Display_Table[i_table].type===MyEvents; else Events" > 
            <div class=' options otherOptions options-text option_background' (click) = "Display_Events()"><br>Events</div>
    </div>

    </div>

<div class="pos_mylogo">
    <div class='  mylogo smcirclesize example_two' >
        <div class='smwhitecircle'>
            <span class='smXMV'>XMV</span >
            <span  class='smITConsulting'>IT Consulting</span >
        </div>
    </div>
 
  </div>




    

    <ng-template #NoOffer>
        <div class=' options firstOption options-text ' (click) = "Display_Offer()"><br>
          Offer
        </div>
        <div class="  dropdown arrow_down ">
        <span class="material-symbols-outlined arrow_down_size"  >
          arrow_drop_down
         
           
          <div class="dropdown-content" >
            <span >
            <div class="dropdown-options dropdown-options-even" (click)="goDown1('targetDigital') ">Digital Transf.</div>
            <div class="dropdown-options dropdown-options-odd" (click)="goDown1('targetFinance')">Finance</div>
            <div class="dropdown-options dropdown-options-even" (click)="goDown1('targetCoaching')">Coaching</div>
            <div class="dropdown-options dropdown-options-odd" (click)="goDown1('targetTechnical')">Techn. Expert</div>
            <div class="dropdown-options dropdown-options-even" (click)="goDown1('targetPgm')" >Projects</div>
          </span>

          </div>
          </span>
      </div>
    </ng-template>
    <ng-template #NoProfile>
        <div class=' options othertOption options-text' (click) = "Display_Profile()"><br>Profile</div>
    </ng-template>
    <ng-template #NoContact>
        <div class=' options othertOption options-text' (click) = "Display_Contact()"><br>Contact</div>
    </ng-template>
    <ng-template #NoHomePage>
        <div class=' options othertOption options-text' (click) = "Display_HomePage()"><br>Home</div>
    </ng-template>
    <ng-template #Events>
      <div class=' options othertOption options-text' (click) = "Display_Events()"><br>Events</div>
  </ng-template>
   
  <!-- ======== END HEADER ======== -->

          <!-- ======== OFFER ======== -->
          
          <div  *ngIf="Display_Table[i_table].display===true && Display_Table[i_table].type===Offer; else profile">
            <app-xmvcompany-offer [redisplay_child]="display_GoToContact" (my_output1)='Display_Contact()'
            [selectedoffer]="selected_offer"
            >

            </app-xmvcompany-offer>
              
          </div> 

          <!-- PROFILE -->
          <ng-template #profile>
            <span *ngIf="Display_Table[i_table].display===true && Display_Table[i_table].type===Profile; else contact"> 
              <app-xmvcompany-profile [redisplay_child]="redisplay_profile" (my_output1)='Reset($event)' 
              [redisplay_child]="display_GoToOffer" (my_outputO)='Display_Offer()'
              [redisplay_child]="display_GoToContact" (my_outputC)='Display_Contact()'
              ></app-xmvcompany-profile> 
            </span> 
          </ng-template>


          <!-- CONTACT -->
          <ng-template #contact> 
              <span *ngIf="Display_Table[i_table].display===true && Display_Table[i_table].type===Contact; else GHomePage" > 
              <app-xmvcompany-contact></app-xmvcompany-contact>
              </span>
          </ng-template>

          <!-- HOME PAGE -->
          <ng-template #GHomePage>
              <div *ngIf="Display_Table[i_table].display===true && Display_Table[i_table].type===HomePage; else TheEvents">  
                  <div >
                        <img class='sizeMap' src="./assets/Airplane 4.jpg" >
                  </div>
                   
                    <!-- ======== FOOTER ======== -->
                                          
                  <div class='myfooter' >
                    <!--
                    <div class="text-footer">email: xmv@gmail.com</div>
                    <div class="text-footer"> Address: 6 SIMS DRIVE #11-24 Singapore 387388</div>
                    -->
                        <div class='copyright' ><br>Copyright © 2022 XMV IT Consulting PTE LTD  - All Rights Reserved.
                            <br> Disclaimer : All copy rights of non-XMV brands or companies belong to respective brands or companies any mention on this website is for reference purposes only. 
                              <br> <div class='copyright'> No rights intended or owned in them </div>                                   
                              <br>
                        </div>
                               <!--
                               <button [routerLink]="['/myRouting']" > 
                               <mat-icon style='display:none;' class='material-icons-outlined'> arrow_back_ios</mat-icon> 
                               </button>   
                                -->              
                  </div>
                 
                  <div class="Main_Page_Size">                  
                        <br>
                        <span class=" Main_Page_Title">Only Solutions exist! 
                        </span>
                        <br><br>
                        <span class=" Main_Page_Text">
                            with 30 years of experience in a large IT company that enabled technology over the years to lead growth and digital transformation, we can share and adapt this knowledge to help you transform, evolve your technology and organization (e.g. agile work environment) in order to meet your business objectives. 
                            <br><br>
                            We also offer services such as project management, architecture expertise, agile methodology and coaching.
                            <br><br>
                            With our Partner, we propose Finance solutions (e.g. Payment Reconciliation, Robotic Automation) and services (e.g. BPO Revenue Accounting), and software development.
                            <br><br>
                            We will work closely with you to innovate, find solutions that correspond to your needs and implement them successfully.  
                            <br>
                            <br><br>  <span  class="LearnOffer" (click) = 'Display_Offer()'>Learn more about our offer</span>
                            <br><br>
                        </span>
                      </div>
                </div> <!-- *ngIf--> 
          </ng-template>



      <ng-template #TheEvents>   
            <span class='mainbody'>  
              <app-login  [identification]="identif" 
                (my_output1)='TheIdentifObject($event)' (my_output2)='TheLoginRoute($event)'>             
            </app-login>
          </span>  
        </ng-template>



            <!-- NOT AVAILABLE replaced by Events 
            <ng-template #AdmLogin>   <span class='mainbody'>  
              <app-login></app-login>
            </span>  </ng-template>
            -->

</body>
