<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> 

<body>
<div  *ngIf="routing_code===0 || routing_code===4; else RespondContact">
    <!--
    <br> Device type is {{device_type}}
    <br> Screen width = {{getScreenWidth}}
    <br> Screen height = {{getScreenHeight}}
    <br><br>
    </div>
    -->


  <img  class="sizeMap" src="./assets/Lavender.JPG" >
    <div class="main_box">
    
    
      <h2 class="title "> Welcome!  </h2>
 
      <h3 >
        One more step for <br>event's details  

      </h3>

    <form class="form_box" [formGroup]="myForm" >

        <div>
            <label class="error_msg">  {{text_error}}</label>
        </div>
        <div>
            <label class="field-name">user-id</label>
            <input  class="input_field first-label" formControlName="userId" id="UserId" type="text"  >
            <div class="filler"><br> </div>
        </div>
        <div class="second-label">
            <label class="field-name " >password</label>
            <input  class=" input_field"  formControlName="password" id="psw" type="password" > 
            <div class="filler"><br> </div>
      </div>
      <div *ngIf="routing_code===4" class="second-label">
        <label class="field-name " >Event to manage</label>
        <input  class=" input_field"  formControlName="action" id="action" type="text" > 
      <div class="filler"><br> </div>
    </div>
      
    <div >
            <button id='but_1' class="sizeButtons first-button"  (click)="ValidateData()">Send</button>
            <button id='but_2' class="sizeButtons" (click)="onClear()">Clear</button>
    </div>

  
    </form>
  </div>
</div>

        <!-- ======== FOOTER ======== -->
        <div class='myfooter' >
          <div class='copyright' ><br>Copyright © 2022 XMV IT Consulting PTE LTD  - All Rights Reserved.
              <br> Disclaimer : All copy rights of non-XMV brands or companies belong to respective brands or companies any mention on this website is for reference purposes only. 
              <br> 
              <div class='copyright' >No rights intended or owned in them 
              </div>
              <br>
          </div>
  </div>
<ng-template #RespondContact>
<div  *ngIf="routing_code===1; else firstevent">
  <app-Respond-Contact ></app-Respond-Contact>
</div> 
</ng-template>

<ng-template #firstevent>  
<div  *ngIf="routing_code===2; else secondevent">
    <app-Event-02JUL2022 ></app-Event-02JUL2022>
</div> 
</ng-template>

<ng-template #secondevent> 
    <div  *ngIf="routing_code===3">
      <app-Event-27AUG2022 [identification]="Encrypt_Data" [LoginTable_User_Data]="Table_User_Data" 
            [LoginTable_DecryptPSW]="Table_DecryptPSW" (returnDATA)="GetUpdatedTable($event)">
      </app-Event-27AUG2022>
    </div> 
</ng-template>



</body>
