<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>



    <!-- Xavier's profile   div class='mainbody-->
   
<div>
    
    <div id='targetTop'>
        <img class='sizeMap heightMap ' src="./assets/Airplane 2.jpg" >
        <div class='myPicture' >
            <img class='size_myPicture ' src="./assets/XVS Profile.png" >
        
                <span class='perso-intro-text'> 
            
                    <li class='char_intro_text'>37 years of experience in IT Business and Solutions</li>
            
                    <li class='char_intro_text'>with 30 years spent in the IT Travel Industry (Amadeus GTD)</li>
                 
                    <li class='char_intro_text'>Hold a Master in IT from Nice University (France)</li>
                </span>
        </div>  
    </div>   
    
    <div  class='perso-text'>
        <div  class='text_myOffer'>
     <br> My executive career spans over 25+ years, with in-depth expertise in 3 main roles: 
      <ul>
          <li> Product/Solution Management, </li>
          <li> Program Management,</li>
          <li> Delivery Management.</li>
      </ul>
      <br>
      These interrelated positions gave me hands-on experience in all areas of our business:
      <br>
      <ul>
          <li>to adapt to the fluid changes (internal and external) of the Travel Industry, which is both competitive and innovative,
          </li>
          <li>to design, specify and implement new solutions,</li>
          <li>to build business cases, </li>
          <li>to manage our product portfolio (e.g. positioning, pricing strategy),</li>
          <li>to contribute to the creation and growth of the new Airline IT business line,</li>
          <li>to use new methodologies over the years (the latest one being SAFE),</li>
          <li>to participate in Industry events and</li>
          <li>to coach people which gave me great satisfaction to help many senior managers evolve.</li>
      </ul> 
      <br>
      As VP (Product Management) based in Nice, I defined products/solutions (e.g.<span style='font-style:italic; color:blue;'>  design, positioning, 
      pricing, business cases, contracts </span>) in cooperation with numerous teams in our organization 
      (a product/solution is never defined by one team only!). I managed customers in North-America, 
      Europe and Asia-Pacific, from pre-sales until implementation, managed customer forums, and led a 
      large team responsible for the entire Airline IT Product portfolio (Reservation, Ticketing, Inventory, Departure Control, Loyalty).
      <br>I was also part of the team who successfully managed the first Airline IT RFP which was signed by British Airways and Qantas. 
      I then contributed to the implementation of the different components which first one was Reservation. 
      <br> I continued to be involved in other large RFP's such as Star Alliance (Lufthansa, United Airlines and Air Canada). 
      <br><br>
      As Program Director based in Seoul, I successfully implemented, within a 3.5 year-period, a large program which objective was to migrate Korean Air onto our Airline IT platform and TOPAS (managing Travel Agencies in Korea) on to the Amadeus Distribution platform. 
      This program required an effort of circa 700 man-years of development and implementation. 
      It has contributed to the success of our Airline IT and Distribution business in APAC.
      <br><br>
      As VP (Delivery Management) based in Singapore, I contributed to the growth of our business in APAC by building 
       a strong team who delivered a multitude of solutions. 
      My team successfully led Digital Competency Centres (7 accounts in the region) , effectively managed  Operations & Service Level Agreements, 
      and provided a high quality of service and support to all customers in the region. 
      <br>We also supported the Sales and Account Management teams to renew contacts, sell more solutions and increase customer satisfation which was evaluated through a yearly survey.
      
      <br>
      This is my value proposition.
      <br>
      <ul>
      <li>Some of the areas I can support you in, but not limited to, are :
      </li>
          <ul>
            <li>business transformation,</li> 
            <li>product/solution strategy, design and implementation</li>
            <li>business case and pricing strategy,</li>
            <li>service level agreements,</li>
            <li>program/project management,</li> 
            <li>coaching.</li>
            <br>
          </ul>
      <li> With my Partner we offer Finance solutions (e.g. Payment), services (e.g. BPO Revenue Accountig), 
                  software development and IT Architecture expertise.
        </li>
      </ul>
        <br>  <span class="LearnOffer" (click) = 'Display_Offer()' >Learn more about our offer.</span><br><br>
     
      My objective is to share my knowledge with any IT company, across any industry sector, in addition to the Travel Industry. 
      <br>However, when I say "share my knowledge", I mean creatively apply my knowledge to the business, cognisant and adapted to your specific environment. 
      <br><br>
      Let's work together!
      <br><br>
      Should you need more information, don't hesitate to<span  class="LearnOffer"  (click) = 'Display_Contact()'> contact us</span>
      <br><br>
    </div>

    <div style="position:relative"></div>
</div>

</div>  <!-- <end div Xavier's profile > -->
  
    <!-- ======== FOOTER ======== -->
    <div   class='myfooter'  >
        <!--
        <div class="text-footer">email: xmv@gmail.com</div>
        <div class="text-footer"> Address: 6 SIMS DRIVE #11-24 Singapore 387388</div>
        -->
        <div class='copyright' ><br>Copyright © 2022 XMV IT Consulting PTE LTD  - All Rights Reserved.
            <br> Disclaimer : All copy rights of non-XMV brands or companies belong to respective brands or companies any mention on this website is for reference purposes only. 
            <br> <div class='copyright' >No rights intended or owned in them </div>
            <br>
        </div>
        <!--
        <button [routerLink]="['/myRouting']" > 
            <mat-icon style='display:none;' class='material-icons-outlined'> arrow_back_ios</mat-icon> 
        </button>   
        -->
    </div>