<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<div>
    <div id='targetTop' >
        <img class='sizeMap' src="./assets/Airplane 3.jpg" >
    </div>
    <div class="Main_Page_Size">
        <br>
        <span  class=" Main_Page_Text">

            In Asia-Pacific, XMV IT Consulting can help you to 
            <br>evolve/transform your business, organization and implement new solutions.
            <br>When needed, our technical experts will analyse, propose solutions on architecture & systems matters.
             <br>With our Partner , we provide Finance solutions and services. 
             <br>
             <br>Discover below a high level description of some of the solutions and services we offer.
            <br>
           
            <span class="el_contact" (click) = 'Display_Contact()'>Contact </span> <span style='margin-left:5px;'> us </span>to describe your needs and get more information on our offer 
            </span>
            <br><br>
            <span class='selectOffer selectFieldOne' style=' margin-left:14%;' (click)="goDown1('targetDigital')">Digital] Transf.</span>
            <span class='selectOffer selectFieldOne' (click)="goDown1('targetTechnical')">Techn. Expert</span>
            <div>
                <br><br>
            <span class='selectOffer selectFieldTwo' style=' margin-left:12%;' (click)="goDown1('targetFinance')">Finance</span>
            <span class='selectOffer selectFieldTwo' (click)="goDown1('targetCoaching')">Coaching</span>
            <span class='selectOffer selectFieldTwo' (click)="goDown1('targetPgm')">Projects</span>
            </div>
            <br>
           
   
    </div>
    <div class='myOffer'>
        <div class="text_myOffer ">
           
            <span id='targetDigital'></span>
            <br> 
            <h1 > Digital Transformation</h1>
            Digital transformation is first driven by your business needs and issues. Some of the key questions to address are:
            <li>What does your business need to prosper in the long-term? </li>
            <li>Are you able to answer to the growing expectations of your customers?</li>
            <li>Are you able to adapt to changes, to deliver fast?</li>
            You then have to check whether you have the right organization to do things, how people cooperate with each other 
            and handle challenges, how decisions are taken and whether your have the right technology. 

            <br><span class='text_highlight'>Change Management</span> is a key factor to implement digital transformation successfully and it requires support from C-level of the company.
            <br>To get the support of all your <span class='text_highlight'>employees</span> it is crucial to explain what this transformation will bring to the company and how it is going to change their way of working and that they will continue doing their jobs.
            <br><br>
            Digital transformation requires to build and maintain a roadmap with flexibility; being agile is vital. If not in place in your organization, applying SAFE methodology will definitely help your organization.
            <br><br>
            Companies which went through Digital Transformation have been delivering more quickly and more efficiently new solutions and better services to their customers.   
            <br><br>
            We can help you go through this overall process 
            <li>
                Business Model, Business evolution (opportunities to create new business value)
            </li>
            <li>
                People, Company culture (support of C-level, collaboration, putting people first is more critical than ever)
            </li>
            <li>
                Organization and Change Management 
            </li>
            <li>
                Technology: new technologies have the ability to redefine products and services, increase quality of operations and service 
            </li>
            <button class="button-size" (click)="goDown1('targetTop')"><span class='Top_class'>Top</span></button>
            <br>
             <span id='targetTechnical'></span>
             <br>

                <h1 > Technical expertise</h1>
                With the support of our highly skilled <span class='text_highlight'>Architect Experts</span>, we can review your IT architecture, processes and systems, and define the technoly blueprint which will enable your business processes.

            <br><button class="button-size" (click)="goDown1('targetTop')"><span class='Top_class'>Top</span></button>
            <br>
             <span id="targetPgm"></span>
             <br>

            <h1 > Program Management</h1>
            With our experience in managing different type and size (small to x-large) of projects,
             we can help you <span class='text_highlight'> to successfuly deliver </span>new applications/systems either by taking the lead of the project or by contributing to some specific activities such as migration strategy (if you need to change applications/systems, convert/migrate data, etc.), cutover strategy, implementation plan, change management, incident dashboards.
             <br><button class="button-size" (click)="goDown1('targetTop')"><span class='Top_class'>Top</span></button>
            <br>
            <span id="targetCoaching"></span>
            <br>

            <h1 > Individual coaching</h1>
            Developing high potential employees can be achieved through specific training. However, when there is a need to focus 
            on some specific aspects of the person coaching is quite often a better solution than training.
            <br>Indeed, <span class='text_highlight'>if you want to inspire the hearts and minds of your employees</span>, go with this different approach: Coach.
            <br>However, the pre-requisite for a successful coaching is the commitment of the employee to go through this process. 
            <br>It also requires that the employee will take actions between the sessions according to the mutually agreed plan.
            <br>Trust and confidentiality are key in this process.
            <br> Inputs could be provided by the manager(s) of the employee, potentially his/her peers but no information will be given by 
            the coach unless aprroved by the employee.
            <br> Usually sessions last 1 hour or so over several months so that we can review the progress of the employee and 
            analyze his/her feedback. The first session is to define the objectives, the employee will self-identify and self-direct towards what's missing.
            <br><br>
            <span class='text_highlight'>
                Let's not forget that stronger leaders create stronger teams, increase employees motivation and performance!
            </span>
            <br><button class="button-size" (click)="goDown1('targetTop')"><span class='Top_class'>Top</span></button>
            <br>
            
             <span id="targetFinance"></span>
            
             <br>
            <h1 >Finance & Accounting Solutions & Services</h1>
            <div style="margin-left:15px;"> 
                <h2>1. Payment reconciliation</h2>
                Today, most airlines are not optimally efficient in the accuracy and timing of Credit Card reconciliation due to the following reasons:
                <div style="margin-left:40px;"   >
                    <li> Different data source formats and file layout. </li>
                    <li>Duplicate or missing transactions generated by human or system errors.    </li>
                    <li>Charge backs due to insufficient funds or disputes.    </li>
                    <li> Timing delays due to Payment Service Processor (PSP) to post to merchant bank.</li>

                    <li>Complex fees and rate of exchanges calculation.</li>
                    <li>Human-resource intensive activity due to investigation complexity.</li>
                    <li>Limited integration with Airlines Revenue Accounting and Financial Systems.</li>
                </div>
                <br>
                To help you <span class='text_highlight'>grow revenues</span> and <span class='text_highlight'>reduce operational costs</span>, 
                we provide a fully automated end to end solution running on the cloud with real time processing and live monitoring.
                <br><br>
                If you need more information please  <span class="el_contact" (click) = 'Display_Contact()'>contact</span> us.
                <br><br> We will describe our solution, 
                <div style="margin-left:40px;"   >
                    <li>the architecture,</li>
                    <li>how we extract, transform and load the different data sources (e.g. airline financial for exchange rates, Sales reports, Settlement files) ) which is based on business rules.  
                        </li>
                    <li>how the Rule based Matching works according to the different business rules you set up</li>
                    <li>which Dashboards and Reports are available</li>
                </div>
                We will also make demo and explain our pricing model.
                <br><button class="button-size" (click)="goDown1('targetTop')"><span class='Top_class'>Top</span></button>
                
                <br>
                <h2>2. AUTOMATION AND AI </h2>
                    We help organizations reinvent their finance function with intelligent operating models enabled by 
                    <span class='text_highlight'>Robotics Process Automation (RPA)</span> and  <span class='text_highlight'>Artificial Intelligence (AI)</span>. 
                    Powered by digital technologies and industry talented experts,we provide tangible business outcome and viable long-term growth.    
                    <br><button class="button-size" (click)="goDown1('targetTop')"><span class='Top_class'>Top</span></button>
                    <br>
            
                <h2> 3. Business Process Outsourcing (BPO)</h2>
                        If you are looking for more efficiency and/or cost reduction, we offer an attractive traditional BPO of finance. This service is currrently used by many customers mainly in Europe, Middle-east, Africa and Asia.
                <br>
                However, though it will still be used for a while, this traditional BPO of finance is becoming obsolete.
                <br>Our new offer is the "<span class='text_highlight'>Intelligent Process Outsourcing (IPO)</span>" model which synthesizes the optimal blend of the best industry experts, processes, and technology. 
                <br>It relies on new and innovative technologies including Robotic Process Automation (RPA) and Artificial Intelligence (AI) so that we can continually push the boundaries of today's processes and business models.  
                <br><button class="button-size" (click)="goDown1('targetTop')"><span class='Top_class'>Top</span></button>
                <br><br>
             </div>



        </div>
    </div>
        <!-- ======== FOOTER ======== -->
    <div class='myfooter' >
            <div class='copyright' ><br>Copyright © 2022 XMV IT Consulting PTE LTD  - All Rights Reserved.
                <br> Disclaimer : All copy rights of non-XMV brands or companies belong to respective brands or companies any mention on this website is for reference purposes only. 
                <br> 
                <div class='copyright' >No rights intended or owned in them 
                </div>
                <br>
            </div>
    </div>
</div>